$dark-3: #434c5e;

@mixin disp($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

.home {
  @include disp(space-evenly, column, nowrap);
  background-color: $dark-3;
  min-height: 100vh;
  width: 80vw;

  @media (max-width: 720px) {
    width: 100vw;
    font-size: 14px;
  }
}
